.header {
  color: white;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.header__head-text a {
  text-decoration: none;
}

.header__head-text:hover {
  color: aqua;
  cursor: pointer;
}

.header h2 {
  margin-right: 5rem;
  margin-bottom: 0;
}

.header ul {
  margin: 0;
}

.header ul li {
  list-style: none;
  margin: 0;
  color: aqua;
}

.header ul li a {
  text-decoration: none;
}

.header ul li:hover {
  cursor: pointer;
  background-color: #444;
}
